{% extends "mainlanding/base.html" %}

{% block style %}
        .home {
            color: #818181;
            }
        .add_vehicle {
            color: #818181;
            }
        .reports {
            color: #f5f5f5;
            }
        .repairs {
            color: #818181;
            }
{% endblock %}

{% block title %} Reports {% endblock %}

{% block content %}
<h1> View and Generate Reports </h1>
<form name = "search_vehicle_form" action = "{% url 'reports' %}" method = "POST" >{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Run Report</button>
</form>
{% endblock %}

