{% extends "mainlanding/base.html" %}

{% block content %}
<h1> Add Customer: {{ customer }}</h1>
<div>
    <button type="submit" onclick="location.href='{% url 'individual' %}'" name='individual'>Individual</button></div>
<div>
    <button type="submit" onclick="location.href='{% url 'business' %}'" name='business'>Business</button>
</div>

<form name = "add_customer" action = "{% url 'add_customer' %} " method = "POST" >{% csrf_token %}
     {{ form.as_p }}
    <input type="submit"  value="Save">
</form>
<br>
<p class={{customer_status.css_class}}> Customer table status: {{ customer_status.status }} </p>
<p class={{customer_type_status.css_class}}> {{ customer_type }} status: {{ customer_type_status.status }} </p>
<br>
<br>
<button class="done" type="submit" onclick="history.back()">Done</button>
{% endblock %}

