{% extends "mainlanding/base.html" %}


{% block content %}
<h1> Add Customer: {{ customer }}</h1>
<div>
    <button type="submit" onclick="location.href='{% url 'individual' %}'" name='individual'>Individual</button></div>
<div>
    <button type="submit" onclick="location.href='{% url 'business' %}'" name='business'>Business</button>
</div>

<form name = "add_customer" action = "{% url 'add_customer' %} " method = "POST" >{% csrf_token %}
     {{ form.as_p }}
    <input type="submit"  value="Save">
</form>
{% endblock %}

