
{% extends "mainlanding/base.html" %}
{% block content %}
<br>
<div>
   <p> For user name, enter the role you want to take on.
      For example, if you type in manager, then you will see what a manager will see. </p>
   <p> Available roles (options) for usernames:</p>
   <ol>
      <li>regular_user</li>
      <li>sales_person</li>
      <li>manager</li>
      <li>inventory_clerk</li>
      <li>service_writer</li>
      <li>owner</li>
   </ol>
   <p> All other usernames will be treated as un-authenticated</p>
   <p> The password field doens't matter, it can be anything or left blank.</p>
</div>
   <br>
<form name = "form" action = "{% url 'loggedin' %}" method = "POST" novalidate>{% csrf_token %}

   <div style = "max-width:470px;">
      <center>
           <label for="user">Select a user: </label>
           <select id="user" name="users">
              {% for key, value in users.items %}

                  {% if  key == current_role %}
                     <option value={{ key }} selected> {{ value }}</option>
                  {% else %}
                     <option value={{ key }}> {{ value }}</option>
                  {% endif %}

               {% endfor %}
           </select>
      </center>
   </div>
   <br>
   <div style = "max-width:470px;">
      <center>
         <input type = "password" style = "margin-left:20%;"
            placeholder = "password" name = "password" />
      </center>
   </div>
   <br>
   <div style = "max-width:470px;">
      <center>
         <button style = "border:0px; background-color:#4285F4; margin-top:8%;
            height:35px; width:80%;margin-left:19%;" type = "submit">
            <strong>Login</strong>
         </button>
      </center>
   </div>
</form>

{% endblock %}